<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.mapper.order.PaymentMapper">

    <resultMap id="paymentMap" type="com.team2.dto.order.PaymentDTO">
        <id property="paymentId" column="payment_id"/>
        <result property="reserveId" column="reserve_id"/>
        <result property="paymentOptionId" column="payment_option_id"/>
        <result property="paymentStatusId" column="payment_status_id"/>
        <result property="price" column="price"/>
        <result property="isRefundable" column="is_refundable"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertPayment" parameterType="com.team2.dto.order.PaymentDTO" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO payment (reserve_id, payment_option_id, payment_status_id, price, is_refundable, created_at)
        VALUES (#{reserveId}, #{paymentOptionId}, #{paymentStatusId}, #{price}, #{isRefundable}, NOW())
    </insert>

    <select id="selectById" parameterType="int" resultMap="paymentMap">
        SELECT * FROM payment WHERE payment_id = #{paymentId}
    </select>

</mapper> 