<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 설정: JDBC 타입 처리 설정 (선택사항) -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 전역 타입 별칭 설정 (선택사항) -->
    <typeAliases>
        <!-- 패키지 단위로 등록 -->
        <package name="com.team2.dto.previewaccomm"/>
        <package name="com.team2.dto.paging"/>
    </typeAliases>

</configuration>
