<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.mapper.CartMapper">

    <!-- 장바구니 조회 -->
    <select id="getCartList" parameterType="int" resultType="CartResponse">
SELECT
    s.cart_id                      AS cartId,
    s.room_id                      AS roomId,
    s.customer_id                  AS customerId,
    s.desired_check_in_at          AS desiredCheckInAt,
    s.desired_check_out_at         AS desiredCheckOutAt,
    s.adult_count                  AS adultCount,
    s.child_count                  AS childCount,

    r.accommodation_id             AS accommodationId,
    r.room_name                    AS roomName,
    r.checkin_time                 AS checkinTime,
    r.checkout_time                AS checkoutTime,
    r.standard_capacity            AS standardCapacity,
    r.maximum_capacity             AS maximumCapacity
FROM SHOPPING_CART s
        JOIN ROOM r on s.room_id = r.room_id
        JOIN  CUSTOMER c on s.customer_id = c.customer_id
        WHERE s.CUSTOMER_ID = #{customerId}
    </select>
    
    <!-- 장바구니 추가 -->
    <insert id="addCart" parameterType="CartDTO" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO SHOPPING_CART
            (room_id, customer_id, adult_count, child_count)
        VALUES (#{roomId}, #{customerId},#{adultCount},#{childCount})
    </insert>

    <!-- 장바구니 인원 수정 -->
    <update id="updatePeopleCnt" parameterType="CartDTO">
        UPDATE SHOPPING_CART
        <set>
        <if test="adultCount != null">
            adult_count = #{adultCount},
        </if>
        <if test="childCount != null">
            child_count = #{childCount}
        </if>
        </set>
        WHERE cart_id = #{cartId}
    </update>

    <!-- 장바구니 삭제 -->
    <delete id="deleteCart" parameterType="int">
        DELETE FROM SHOPPING_CART
        WHERE cart_id = #{cartId}
    </delete>
    
    <!-- 회원&객실번호로 중복담기 방지 -->
    <select id="findByCustomerAndRoom" resultType="CartDTO" parameterType="CartDTO" >
        SELECT *
        FROM SHOPPING_CART
        WHERE customer_id = #{customerId}
        AND room_id = #{roomId}
    </select>

    <select id="findByCustomerIdAndCartId" resultType="CartDTO" parameterType="int" >
        SELECT *
        FROM SHOPPING_CART
        WHERE customer_id = #{customerId}
          AND cart_id = #{cartId}
    </select>
</mapper>

