<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.mapper.YanupzaPaging">

    <!-- 숙소 검색 페이지네이션 -->
    <select id="searchAccommPaging" parameterType="ConditionDTO" resultType="PagingAccommDTO">
        SELECT a.ACCOMMODATION_ID, a.ACCOMMODATION_NAME, a.PROVINCE_NAME,
        a.DISTRICT_NAME, a.RATING, a.CLICK_VIEWS, MIN(r.PRICE) AS PRICE,
        img.ACCOMMODATION_IMAGE_FILE_PATH, ROUND(AVG(rev.REVIEW_SCORE), 1) AS REVIEW_SCORE,
        COUNT(DISTINCT rev.REVIEW_ID) AS REVIEW_CNT
        FROM ACCOMMODATION a
        LEFT JOIN (
        SELECT i1.ACCOMMODATION_ID, MIN(i1.ACCOMMODATION_IMAGE_FILE_PATH) AS ACCOMMODATION_IMAGE_FILE_PATH
        FROM ACCOMMODATION_IMAGE i1
        GROUP BY i1.ACCOMMODATION_ID
        ) img ON a.ACCOMMODATION_ID = img.ACCOMMODATION_ID
        JOIN REVIEW rev ON a.ACCOMMODATION_ID = rev.ACCOMMODATION_ID
        JOIN ROOM r ON a.ACCOMMODATION_ID = r.ACCOMMODATION_ID
        WHERE 1 = 1
        <if test="districtList != null and districtList.size() > 0">
            AND a.DISTRICT_NAME IN
            <foreach item="item" index="index" collection="districtList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND r.IS_AVAILABLE = #{onOff}
        GROUP BY
        a.ACCOMMODATION_ID, a.ACCOMMODATION_NAME, a.PROVINCE_NAME,
        a.DISTRICT_NAME, a.RATING, a.CLICK_VIEWS, img.ACCOMMODATION_IMAGE_FILE_PATH
        ORDER BY a.ACCOMMODATION_ID
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 숙소 개수 구하기 -->
    <select id="getAccommPagingCnt" parameterType="ConditionDTO" resultType="int">
        SELECT COUNT(DISTINCT a.ACCOMMODATION_ID)
        FROM ACCOMMODATION a
        LEFT JOIN ACCOMMODATION_IMAGE i ON a.ACCOMMODATION_ID = i.ACCOMMODATION_ID
        LEFT JOIN REVIEW rev ON a.ACCOMMODATION_ID = rev.ACCOMMODATION_ID
        LEFT JOIN ROOM r ON a.ACCOMMODATION_ID = r.ACCOMMODATION_ID
        WHERE 1 = 1

        <if test="districtList != null and districtList.size() > 0">
            AND a.DISTRICT_NAME IN
            <foreach item="item" index="index" collection="districtList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="onOff != null">
            AND r.IS_AVAILABLE = #{onOff}
        </if>

        <if test="adultCnt != null and babyCnt != null">
            AND r.MAXIMUM_CAPACITY >= #{totalPeopleCnt}
        </if>
    </select>

</mapper>
